
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

backend/.venv/
backend/venv/
backend/**/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
backend/*.egg-info
backend/.ipynb_checkpoints/


backend/project/artifacts/
backend/project/training/artifacts/
backend/project/**/*.pt
backend/project/**/*.pth
backend/project/**/*.pkl
backend/project/**/*.onnx
backend/project/**/*.png
backend/project/**/metrics.json



.env
.env.*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local